
* {
  margin:0;
  padding:0;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.topbar {
  width:100%;
  background-color: black;
  color:white;
  height:100px;
  font-family: 'Josefin Slab', serif;
}

#navLeft  {
  display:inline-block;
  width:33%;
}

.titleMain {
  padding-top:15px;
  text-align:center;
  width:33%;
  display:inline-block;
}

#navRight {
  display:inline-block;
  width:33%;
}

ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
  display:inline-block;
}

#about, #links, #statistics, #intro{
  width:50%;
  text-align:center;
}

.bottom-body {
  height:600px;
  padding-top:50px;
  position:relative;
}

#leftContain, #rightContain {
  font-family: 'Josefin Slab', serif;
  height:80%;
  width:40%;
  border-radius:5%;
  display:inline-block;
  margin-top:10px;
  background-color:	black;
  color:white;
  position:absolute;
}

#leftContain {
  /*margin-left:100px;
  margin-right:10px;*/
  background-color:white;
  left:100px;
}

#rightContain {
  /*margin-left:10px;
  margin-right:100px;*/
  right:100px;
  display:flex;
  align-items:center;
}

.buttontxt {
  margin:0 auto;
  font-size: 40px;
}

#rightContain:hover {
  background-color:white;
  color:black;
}

#firstMean, #thirdMean, #firstGood, #thirdGood {
  width:100%;
  height:40%;
  margin-top:20px;
  display:none;
}

a {
  font-family: 'Josefin Slab', serif;
  color:white;
}

.topbar2 {
  background-color:#ECECEA;
  color:#558C89;
  font-family: 'Montserrat', sans-serif;
}

.title2, .subtitle2 {
  padding-top:8px;
}

#left2Contain, #right2Contain {
  height:80%;
  width:40%;
  border-radius:5%;
  display:inline-block;
  margin-top:10px;
  background-color:#ECECEA;
  color:#558C89;
  position:absolute;
  font-family: 'Montserrat', sans-serif;
}

#left2Contain {
  background-color:white;
  left:-800px;
}

#right2Contain {
  right:-800px;
  text-align:left;
}

.info1heading{
  display:block;
  padding:10px 10px 10px 10px;
  text-align:center;
  font-size:25px;
}

.info1{
  display:block;
  padding:10px 15px 10px 15px;
  clear:left;
  font-size:23px;
}

.lkz {
  color:#558C89;
  font-family: 'Montserrat', sans-serif;
}

.lkz:hover, #about:hover, #links:hover, #statistics:hover, #intro:hover {
  color:black;
}

#rightStatsContain, #leftStatsContain{
  height:80%;
  width:40%;
  border-radius:5%;
  display:inline-block;
  margin-top:10px;
  background-color:#ECECEA;
  color:#558C89;
  position:absolute;
  font-family: 'Montserrat', sans-serif;
  display:none;
}

#leftStatsContain{
  left:100px;
}

#rightStatsContain{
  right:100px;
}

h3.leftStatsContain, h3.rightStatsContain, h3.leftLinksContain{
  text-align:center;
  font-size:25px;
}

ul.leftStatsContain, ul.rightStatsContain, ul.leftLinksContain{
  font-size:18px;
}

li.leftStatsContain, li.rightStatsContain, li.leftLinksContain{
  margin:10px;
}

a.leftStatsContain, a.rightStatsContain, a.leftLinksContain{
  font-family: 'Montserrat', sans-serif;
  color:#558C89;
  font-size:18px;
}

#leftLinksContain{
  height:80%;
  width:40%;
  border-radius:5%;
  display:inline-block;
  margin-top:10px;
  background-color:#ECECEA;
  color:#558C89;
  position:absolute;
  font-family: 'Montserrat', sans-serif;
  display:none;
}

#leftLinksContain{
  left:100px;
}

li.leftLinksContain{
  display:inline-block;
  width:100%;
}

#special{
  color:#D9853B;
}

.action{
  color:#D9853B;
}
